<nav class="pagination" role="navigation">
    {{#if prev}}
    	<a href="{{page_url prev}}"" class="tiny secondary radius button fi-arrow-left"></a>
    {{/if}}
    <span class="page-number">{{page}}/{{pages}}</span>
    {{#if next}}
    	<a href="{{page_url next}}"" class="tiny secondary radius button fi-arrow-right"></a>
    {{/if}}
</nav>