/* line 4, ../scss/styles.scss */
body {
  background-color: #333;
}

/* line 8, ../scss/styles.scss */
.top-bar {
  overflow: hidden;
}
/* line 10, ../scss/styles.scss */
.top-bar .title-area {
  float: none;
}
/* line 13, ../scss/styles.scss */
.top-bar .title-area .name h1 {
  text-transform: uppercase;
  font-size: 1.4rem;
}
/* line 16, ../scss/styles.scss */
.top-bar .title-area .name h1 a {
  font-weight: bold;
}
/* line 22, ../scss/styles.scss */
.top-bar .toggle-topbar {
  display: block;
}
/* line 27, ../scss/styles.scss */
.top-bar .top-bar-section .right li {
  /* 
  @media screen and (min-width: 40.063em) {
      border-left: 1px solid left;
} */
}

/* line 37, ../scss/styles.scss */
.site-head .blog-description {
  margin: 0.5rem 0 1rem;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
}

/* line 46, ../scss/styles.scss */
.main-column {
  background: #f7f7f7;
}
