/* Variables */
/* Generic */
/* line 8, ../scss/styles.scss */
body {
  background-color: #333;
}

/* line 12, ../scss/styles.scss */
button, .button, a, span {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

/* Foundation row */
/* line 17, ../scss/styles.scss */
.row {
  max-width: 72.5em;
}

/* Topbar for mobile */
/* line 22, ../scss/styles.scss */
.top-bar {
  overflow: hidden;
  height: 60px;
  line-height: 60px;
}
/* line 26, ../scss/styles.scss */
.top-bar .title-area {
  float: none;
}
/* line 28, ../scss/styles.scss */
.top-bar .title-area .name {
  height: 60px;
}
/* line 30, ../scss/styles.scss */
.top-bar .title-area .name h1 {
  line-height: 60px;
  text-transform: uppercase;
  font-size: 1.8rem;
}
/* line 34, ../scss/styles.scss */
.top-bar .title-area .name h1 a {
  font-weight: bold;
}
/* line 40, ../scss/styles.scss */
.top-bar .toggle-topbar {
  display: block;
}
/* line 42, ../scss/styles.scss */
.top-bar .toggle-topbar .fi-list {
  height: 60px;
  line-height: 60px;
  font-size: 2rem;
  padding: 0 20px;
}
/* line 51, ../scss/styles.scss */
.top-bar .top-bar-section .right li {
  /* 
  @media screen and (min-width: 40.063em) {
      border-left: 1px solid left;
} */
}

/* Social network */
/* line 63, ../scss/styles.scss */
.blog-network a {
  float: right;
  background: rgba(231, 76, 60, 0.89);
  color: white;
  padding: 7px 10px;
  font-size: 36px;
  margin: 0 0 15px 0px;
}
/* line 70, ../scss/styles.scss */
.blog-network a:hover {
  color: #e74c3c;
  background: white;
}

/* Sidebar for large */
/* line 79, ../scss/styles.scss */
.site-head .blog-description {
  margin: 0.5rem 0 1rem;
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
}

/** Crazy overlay menu **/
/* Overlay style */
/* line 91, ../scss/styles.scss */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(231, 76, 60, 0.89);
  z-index: 9999;
}

/* Overlay closing cross */
/* line 102, ../scss/styles.scss */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Menu style */
/* line 118, ../scss/styles.scss */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 127, ../scss/styles.scss */
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

/* line 136, ../scss/styles.scss */
.overlay ul li {
  display: block;
  height: 20%;
  height: calc(100% / 5);
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 145, ../scss/styles.scss */
.overlay ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: #fff;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

/* line 155, ../scss/styles.scss */
.overlay ul li a:hover,
.overlay ul li a:focus {
  color: #f0f0f0;
}

/* Effects */
/* line 160, ../scss/styles.scss */
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

/* line 169, ../scss/styles.scss */
.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
  /* line 179, ../scss/styles.scss */
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }

  /* line 183, ../scss/styles.scss */
  .overlay ul li {
    min-height: 34px;
  }
}
/* line 194, ../scss/styles.scss */
.main-column {
  background: #f7f7f7;
}
