/* Variables */
/* Generic */
/* line 5, ../scss/styles.scss */
body {
  font-family: "open sans", "helvetica neue", helvetica, arial, sans-serif;
  background: url("../images/main-background.jpg") repeat;
}
/* line 8, ../scss/styles.scss */
body > .row {
  max-width: 100%;
}

/* line 12, ../scss/styles.scss */
h1 {
  font-family: "source sans pro", "helvetica neue", helvetica, arial, sans-serif;
}

/* line 15, ../scss/styles.scss */
button, .button, a, span, li, .head-area:after, hr, img, .read-more:before, main, .post {
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

/* line 18, ../scss/styles.scss */
a {
  color: #4a89dc;
}
/* line 20, ../scss/styles.scss */
a:hover {
  color: #1f57a1;
}

/* line 24, ../scss/styles.scss */
#outdated {
  display: none;
}

/* Foundation row */
/* line 29, ../scss/styles.scss */
.row {
  max-width: 72.5em;
}

/* Topbar for mobile */
/* line 34, ../scss/styles.scss */
.top-bar {
  background: none;
  overflow: visible;
  z-index: 9998;
  height: 50px;
  line-height: 50px;
}
/* line 40, ../scss/styles.scss */
.top-bar .home {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.8);
}
/* line 46, ../scss/styles.scss */
.top-bar .home .fi-home {
  color: white;
  position: relative;
  display: block;
  padding: 0 15px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 2rem;
}
/* line 57, ../scss/styles.scss */
.top-bar .toggle-topbar {
  display: block;
  background: rgba(51, 51, 51, 0.8);
}
/* line 60, ../scss/styles.scss */
.top-bar .toggle-topbar .fi-list {
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 2rem;
}
/* line 67, ../scss/styles.scss */
.top-bar li a:hover {
  background: #4a89dc;
}
/* line 72, ../scss/styles.scss */
.top-bar .top-bar-section .right li {
  /* @media screen and (min-width:40.063em) {
      border-left: 1px solid left;
  }
  */
}
/* line 80, ../scss/styles.scss */
.top-bar:hover + .row .head-area:after {
  background: rgba(51, 51, 51, 0.65);
}
/* line 83, ../scss/styles.scss */
.top-bar:hover + .row hr {
  border-color: white;
  width: 200px;
}

/* Social network */
/* line 90, ../scss/styles.scss */
.blog-network {
  padding-bottom: 15px;
  float: right;
}
@media screen and (min-width: 64.063em) {
  /* line 90, ../scss/styles.scss */
  .blog-network {
    margin-top: 2em;
  }
}
/* line 96, ../scss/styles.scss */
.blog-network a {
  float: right;
  background: rgba(51, 51, 51, 0.8);
  color: white;
  width: 36px;
  height: 36px;
  line-height: 36px;
  font-size: 26px;
  margin: 0;
}
/* line 105, ../scss/styles.scss */
.blog-network a:hover {
  background: #4a89dc;
  margin-left: 7px;
  margin-right: 7px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
/* line 111, ../scss/styles.scss */
.blog-network a:first-of-type:hover {
  margin-right: 0;
}
/* line 114, ../scss/styles.scss */
.blog-network a:last-of-type:hover {
  margin-left: 0;
}

/* Sidebar */
/* line 121, ../scss/styles.scss */
.head-area {
  margin-top: -50px;
  padding-top: 30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 127, ../scss/styles.scss */
.head-area hr {
  border-color: #333333;
}
/* line 131, ../scss/styles.scss */
.head-area:hover:after {
  background: rgba(51, 51, 51, 0.65);
}
/* line 134, ../scss/styles.scss */
.head-area:hover hr {
  border-color: white;
  width: 200px;
}
/* line 139, ../scss/styles.scss */
.head-area:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 64.063em) {
  /* line 121, ../scss/styles.scss */
  .head-area {
    margin-top: 0;
    padding: 0 1.1rem;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

/* line 158, ../scss/styles.scss */
.site-head {
  text-align: center;
  z-index: 2;
  position: relative;
}
/* line 162, ../scss/styles.scss */
.site-head .blog-description {
  margin: 1.3rem 0 1rem;
  color: white;
  font-weight: 300;
}
/* line 167, ../scss/styles.scss */
.site-head .blog-logo {
  display: inline-block;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
/* line 170, ../scss/styles.scss */
.site-head .blog-logo img {
  width: 100px;
  height: 100px;
  border: 2px solid white;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
/* line 176, ../scss/styles.scss */
.site-head .blog-logo:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
/* line 180, ../scss/styles.scss */
.site-head .blog-title {
  margin: 0.7rem 0 1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  line-height: 1;
  font-size: 2.5rem;
}
/* line 188, ../scss/styles.scss */
.site-head hr {
  width: 100px;
  margin: 0 auto;
}
/* line 192, ../scss/styles.scss */
.site-head .blog-menu {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 35px;
}
@media screen and (min-width: 100em) {
  /* line 192, ../scss/styles.scss */
  .site-head .blog-menu {
    float: right;
  }
}
/* line 200, ../scss/styles.scss */
.site-head .blog-menu li {
  font-size: 1rem;
  width: 32%;
  float: left;
}
@media screen and (min-width: 100em) {
  /* line 200, ../scss/styles.scss */
  .site-head .blog-menu li {
    width: 18%;
  }
  /* line 206, ../scss/styles.scss */
  .site-head .blog-menu li:nth-child(1) {
    margin-left: 42%;
  }
}
/* line 210, ../scss/styles.scss */
.site-head .blog-menu li:nth-child(2) {
  margin: 0 2%;
}
/* line 215, ../scss/styles.scss */
.site-head .blog-menu li a {
  padding: 5px 0;
  background: #333333;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
}
/* line 221, ../scss/styles.scss */
.site-head .blog-menu li a:hover {
  color: white;
  background: #4a89dc;
}

/* * Crazy overlay menu * */
/* Overlay style */
/* line 232, ../scss/styles.scss */
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(51, 51, 51, 0.89);
  z-index: 9999;
}

/* Overlay closing cross */
/* line 243, ../scss/styles.scss */
.overlay .overlay-close {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  border: none;
  background: url(../images/cross.png) no-repeat center center;
  text-indent: 200%;
  color: transparent;
  outline: none;
  z-index: 100;
}

/* Menu style */
/* line 259, ../scss/styles.scss */
.overlay nav {
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 267, ../scss/styles.scss */
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
}

/* line 275, ../scss/styles.scss */
.overlay ul li {
  display: block;
  height: 30%;
  min-height: 54px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 282, ../scss/styles.scss */
.overlay ul li a {
  font-size: 54px;
  font-weight: 300;
  display: block;
  color: #fff;
  padding: 0 20px;
}

/* line 289, ../scss/styles.scss */
.overlay ul li a:hover, .overlay ul li a:focus {
  background: #4a89dc;
}

/* Effects */
/* line 294, ../scss/styles.scss */
.overlay-scale {
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
  transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

/* line 302, ../scss/styles.scss */
.overlay-scale.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
  /* line 311, ../scss/styles.scss */
  .overlay nav {
    height: 70%;
    font-size: 34px;
  }

  /* line 315, ../scss/styles.scss */
  .overlay ul li {
    min-height: 34px;
  }
}
/* line 320, ../scss/styles.scss */
.main-column main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem 0;
}
@media screen and (min-width: 64.063em) {
  /* line 320, ../scss/styles.scss */
  .main-column main {
    padding: 1.5rem 0;
  }
}
@media screen and (min-width: 100em) {
  /* line 320, ../scss/styles.scss */
  .main-column main {
    padding: 4rem 0;
    max-width: 1100px;
  }
}
@media screen and (min-width: 64.063em) {
  /* line 319, ../scss/styles.scss */
  .main-column {
    position: absolute;
    height: 100%;
  }
}
/* line 336, ../scss/styles.scss */
.main-column .pagination {
  position: relative;
  text-align: center;
  background: #333333;
  border-bottom: 4px solid #4a89dc;
}
/* line 341, ../scss/styles.scss */
.main-column .pagination a {
  position: absolute;
  font-size: 1.5rem;
  color: white;
  background: #333333;
}
/* line 346, ../scss/styles.scss */
.main-column .pagination a:first-child {
  left: 0;
}
/* line 349, ../scss/styles.scss */
.main-column .pagination a:last-child {
  right: 0;
}
/* line 352, ../scss/styles.scss */
.main-column .pagination a:hover {
  color: #4a89dc;
  background: #fff;
}
/* line 357, ../scss/styles.scss */
.main-column .pagination .page-number {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 54px;
  color: #fff;
}

/* POST */
/* line 367, ../scss/styles.scss */
.post {
  background: #fff;
  overflow: hidden;
  padding: 1.5em;
  margin-bottom: 1.5rem;
  border-bottom: #4a89dc 2px solid;
  position: relative;
  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 64.063em) {
  /* line 367, ../scss/styles.scss */
  .post {
    padding: 2.5em;
    margin-bottom: 1.5rem;
  }
}
@media screen and (min-width: 100em) {
  /* line 367, ../scss/styles.scss */
  .post {
    margin-bottom: 3rem;
    padding: 2.5em 3.5em;
  }
}
/* line 383, ../scss/styles.scss */
.post p {
  font-size: 0.9rem;
  line-height: 2;
}
/* line 387, ../scss/styles.scss */
.post .read-more {
  margin-bottom: 0;
  background: #4a89dc;
  padding: 0.7rem 1.6rem;
  border-radius: 3px;
  width: 100%;
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
}
@media screen and (min-width: 40.063em) {
  /* line 387, ../scss/styles.scss */
  .post .read-more {
    margin-left: 15px;
    width: auto;
  }
}
/* line 400, ../scss/styles.scss */
.post .read-more:before {
  content: "\f16c";
  content: "\f16c";
  font-family: "foundation-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  color: white;
  position: absolute;
  font-size: 2em;
  left: 50%;
  top: -50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: -11px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 421, ../scss/styles.scss */
.post .read-more:hover {
  background: #357bd8;
  border-radius: 7px;
  color: #357bd8;
}
/* line 425, ../scss/styles.scss */
.post .read-more:hover:before {
  top: 50%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 431, ../scss/styles.scss */
.post .tags {
  float: left;
  font-size: 0.8em;
  margin: 10px 0;
  color: #BEBEBE;
  line-height: 1.6;
}
/* line 432, ../scss/styles.scss */
.post .tags:before {
  font-size: 1.7rem;
  padding-right: 8px;
  vertical-align: middle;
}
@media screen and (max-width: 40.063em) {
  /* line 431, ../scss/styles.scss */
  .post .tags {
    line-height: 27px;
  }
}
/* line 445, ../scss/styles.scss */
.post .tags a {
  text-transform: uppercase;
  color: #4a89dc;
}
/* line 448, ../scss/styles.scss */
.post .tags a:hover {
  color: #1f57a1;
  border-bottom: 1px solid #1f57a1;
}
/* line 454, ../scss/styles.scss */
.post .post-title {
  font-weight: 400;
  color: #333333;
  line-height: 1.2;
  margin: 1rem 0 1.2rem;
}
/* line 459, ../scss/styles.scss */
.post .post-title a {
  color: inherit;
}
/* line 461, ../scss/styles.scss */
.post .post-title a:hover {
  color: #4a89dc;
}
/* line 467, ../scss/styles.scss */
.post header .post-meta {
  position: absolute;
  top: 0;
  left: 0;
  background: #D1D1D1;
  color: white;
  padding: 5px 10px;
  font-size: 14px;
}

/* line 480, ../scss/styles.scss */
.post-template .post .post-title {
  margin: -1.5em;
  background: #4a89dc;
  color: white;
  margin: -1.5rem -1.5rem 0;
  padding: 1.5rem;
}
@media screen and (min-width: 64.063em) {
  /* line 480, ../scss/styles.scss */
  .post-template .post .post-title {
    margin: -2.5rem -2.5rem 0;
  }
}
@media screen and (min-width: 100em) {
  /* line 480, ../scss/styles.scss */
  .post-template .post .post-title {
    margin: -2.5rem -3.5rem 0;
  }
}
/* line 493, ../scss/styles.scss */
.post-template .post .post-meta {
  float: right;
  background: none;
  font-size: 0.8rem;
  line-height: 20px;
  margin: -30px -1.5rem 0;
  padding: 0.3rem 0.7rem;
}
@media screen and (min-width: 64.063em) {
  /* line 493, ../scss/styles.scss */
  .post-template .post .post-meta {
    margin-right: -2.5rem;
  }
}
@media screen and (min-width: 100em) {
  /* line 493, ../scss/styles.scss */
  .post-template .post .post-meta {
    margin-right: -3.5rem;
  }
}
/* line 506, ../scss/styles.scss */
.post-template .post .post-meta time {
  color: white;
}
/* line 510, ../scss/styles.scss */
.post-template .post .post-content {
  padding-top: 1.5rem;
}
@media screen and (min-width: 64.063em) {
  /* line 510, ../scss/styles.scss */
  .post-template .post .post-content {
    padding-top: -2.5rem;
  }
}
@media screen and (min-width: 100em) {
  /* line 510, ../scss/styles.scss */
  .post-template .post .post-content {
    padding-top: -3.5rem;
  }
}
/* line 519, ../scss/styles.scss */
.post-template .post pre {
  margin: 1.6em 0;
  box-sizing: border-box;
  background: #f1f0ea;
  border: 1px solid #dddbcc;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  border-radius: 3px;
  word-wrap: break-word;
}
/* line 532, ../scss/styles.scss */
.post-template .post pre code {
  font-size: inherit;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
  font-family: Inconsolata, monospace;
  border-radius: 2px;
  line-height: 1.5;
}
@media screen and (min-width: 64.063em) {
  /* line 544, ../scss/styles.scss */
  .post-template .post .share {
    width: 50%;
    float: left;
    margin-top: 0;
  }
}
/* line 550, ../scss/styles.scss */
.post-template .post .share .fi-social-facebook {
  color: #3b5998;
}
/* line 553, ../scss/styles.scss */
.post-template .post .share .fi-social-twitter {
  color: #00aced;
}
/* line 556, ../scss/styles.scss */
.post-template .post .share .fi-social-google-plus {
  color: #dd4b39;
}
/* line 559, ../scss/styles.scss */
.post-template .post .share a {
  margin-right: 10px;
  font-size: 2.5rem;
}
/* line 562, ../scss/styles.scss */
.post-template .post .share a:hover {
  color: #276ecc;
}
/* line 567, ../scss/styles.scss */
.post-template .post .author {
  background: #4a89dc;
  margin-top: 20px;
  color: white;
  width: 100%;
  border-radius: 8px;
  border-bottom: 2px solid #2363b6;
  text-align: center;
  line-height: 2.3;
}
@media screen and (min-width: 64.063em) {
  /* line 567, ../scss/styles.scss */
  .post-template .post .author {
    width: 50%;
    float: right;
    margin-top: 0;
  }
}
/* line 582, ../scss/styles.scss */
.post-template .post .author header span {
  color: #266ac3;
  font-size: 1.4rem;
  font-weight: 900;
  font-family: "source sans pro", arial, sans-serif;
  text-transform: uppercase;
}
/* line 590, ../scss/styles.scss */
.post-template .post .author section {
  background: #eeeeee;
  position: relative;
  overflow: hidden;
  padding: 10px;
}
/* line 595, ../scss/styles.scss */
.post-template .post .author section h4 {
  margin: 0;
  text-align: left;
  padding-right: 100px;
  color: #333333;
  font-weight: 700;
  float: left;
  clear: both;
}
/* line 604, ../scss/styles.scss */
.post-template .post .author section span {
  text-align: left;
  color: #4d4d4d;
  float: left;
  clear: both;
  font-size: 0.8rem;
  line-height: 1.2;
  padding: 10px 100px 10px 0;
}
/* line 613, ../scss/styles.scss */
.post-template .post .author section img {
  position: absolute;
  right: -10px;
  max-width: 120px;
  height: 100%;
  max-height: 120px;
  bottom: 0;
}
/* line 621, ../scss/styles.scss */
.post-template .post .author section a {
  text-align: left;
  padding-right: 100px;
  color: #4a89dc;
  float: left;
  clear: both;
  font-size: 0.8rem;
  line-height: 1.2;
}
/* line 629, ../scss/styles.scss */
.post-template .post .author section a:hover {
  color: #1f57a1;
  text-decoration: underline;
}
/* line 635, ../scss/styles.scss */
.post-template .post .author footer {
  padding: 10px;
}
/* line 637, ../scss/styles.scss */
.post-template .post .author footer p {
  margin: 0;
  text-align: left;
  font-size: 0.8rem;
  line-height: 1.6;
}

/* featuredRED */
/* line 650, ../scss/styles.scss */
.home-template .post.featured, .tag-template .post.featured {
  padding: 0;
}
/* line 653, ../scss/styles.scss */
.post.featured > a {
  margin: 0;
  position: relative;
}
/* line 656, ../scss/styles.scss */
.post.featured > a iframe, .post.featured > a embed {
  width: 100% !important;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
/* line 660, ../scss/styles.scss */
.post.featured > a p {
  font-size: 0;
  margin-bottom: 0;
}
/* line 663, ../scss/styles.scss */
.post.featured > a p img {
  width: 100%;
  height: auto;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
/* line 667, ../scss/styles.scss */
.post.featured > a p img:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}
/* line 673, ../scss/styles.scss */
.post.featured > div {
  padding: 1.5em;
}
@media screen and (min-width: 64.063em) {
  /* line 673, ../scss/styles.scss */
  .post.featured > div {
    padding: 2.5em;
  }
}
@media screen and (min-width: 100em) {
  /* line 673, ../scss/styles.scss */
  .post.featured > div {
    padding: 2.5em 3.5em;
  }
}
/* line 682, ../scss/styles.scss */
.post.featured > div .post-header .post-meta {
  background: #4a89dc;
}
/* line 685, ../scss/styles.scss */
.post.featured > div .post-header h2 {
  margin-top: 0;
}

/* FOOTER */
/* line 694, ../scss/styles.scss */
.site-footer section {
  font-size: 0.8rem;
  margin-top: 1rem;
  text-align: center;
}
@media screen and (min-width: 64.063em) {
  /* line 694, ../scss/styles.scss */
  .site-footer section {
    width: 33%;
    float: left;
  }
}
/* line 702, ../scss/styles.scss */
.site-footer section a {
  color: #4a89dc;
}
/* line 704, ../scss/styles.scss */
.site-footer section a:hover {
  text-decoration: underline;
  color: #276ecc;
}

/* DISQUS */
/* line 713, ../scss/styles.scss */
.title-disqus {
  margin: 20px 0;
}
/* line 715, ../scss/styles.scss */
.title-disqus span:before {
  padding-right: 10px;
}
